@charset "utf-8";

#keywordPage {margin-bottom: 50px;}

.kwHeader {background-color: #EEF2F2; padding-top: 20px; height: 30px; margin-bottom: 20px;}
.kwHeader .alt {float: left; padding: 0 10px; margin-right: 25px; color: #FFF; line-height: 24px; background-color: #EE5E45; position: relative;}
.kwHeader .alt i {position: absolute; height: 0; width: 0; right: -12px; top: 0; border-width: 12px 0 12px 12px; border-color: transparent transparent transparent #EE5E45; border-style: solid;}

.hdAtoZ span {line-height: 24px; height: 27px; float: left; margin: 0 5px;}
.hdAtoZ span.current {border-bottom: 3px solid #EE5E45}
.hdAtoZ a {padding: 0 8px;}
.hdAtoZ a:hover {color: #EE5E45;}
.hdAtoZ span.current a {color: #EE5E45;}
.ftAtoZ {padding: 10px; height: 25px; background-color: #EEF2F2;}
.ftAtoZ span {line-height: 25px; float: left; margin: 0 6px;}
.ftAtoZ span.current {background-color: #EE5E45;}
.ftAtoZ a {padding: 0 8px;}
.ftAtoZ a:hover {color: #EE5E45;}
.ftAtoZ span.current a {color: #FFF;}

.schoolList {padding-top: 6px;overflow: hidden;}
.schoolList ul {margin-right: -20px;}
.schoolList li {float: left; width: 240px; margin: 0 12px 30px 0;}
.schoolList li.clear {width: 100%;margin:0;}
.schoolList .hd {background: url(../Images/kw_hdBg.png) repeat-x; border: 1px solid #DDD; height: 50px; position: relative; padding: 0 10px 0 70px;}
.schoolList .pic {border: 1px solid #DDD; background-color: #fff; padding: 4px; position: absolute; left: -1px; top: -7px;}
.schoolList h2 {line-height: 20px; height: 48px; font-size: 18px; font-weight: normal; vertical-align: middle;display: table-cell; overflow: hidden; *line-height: 48px;}
.schoolList h2 a {display: table-row; vertical-align: middle;}
.schoolList .bd {padding: 10px 0 0;font-size: 12px;}
.schoolList .bd .r {background: url(../Images/dot.png) no-repeat 3px 11px; line-height: 20px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 2px 10px 2px 15px;}
.schoolList .bd .more {margin: 6px 0 0 5px; padding: 0 0 0 8px; border-left: 2px solid #05A;}
.schoolList .bd .more a {color:#05A;}
.schoolList .bd .more a:hover {color:#EE5E45;}

.schoolList .pager {border-top: 1px solid #DDD; margin-bottom: 30px; padding-top: 15px;}

.kwMain {width: 660px; float: left; margin: 20px 0 30px;}
.kwMain .schoolList .bd {padding-left: 5px; overflow: hidden;}
.kwMain .schoolList .r {float: left; width: 46%; padding: 5px 10px 5px 15px;}

.kwShowBox {background: url(../Images/kw_showBg.png) repeat-y;}
.kwShowBox .ht {background: url(../Images/kw_show.png) no-repeat; height: 10px; overflow: hidden;}
.kwShowBox .ft {background: url(../Images/kw_show.png) no-repeat 0 -40px; height: 10px; overflow: hidden;}
.kwShowBox h1 {font-size: 30px; font-weight: normal; text-align: center; padding: 10px 30px 20px;}
.kwShowBox .con {border-top: 2px dotted #DDD; border-bottom: 2px dotted #DDD; margin: 0 30px; padding: 50px 0; font-size: 24px; color: #ed5644; text-align: center;}
.kwShowBox .con .t {font-size: 16px; color: #666; margin: -20px 0 20px;}
.kwShowBox .about {margin: 20px 0 20px 35px;font-size: 12px;}
.kwShowBox .about .r {float: left; width: 45%; background: url(../Images/dot.png) no-repeat 0 11px; line-height: 20px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 2px 10px 2px 15px;}

.kwSide {width: 300px; float: right; margin: 20px 0 30px;}
.kwSide h2 {border-bottom: 1px solid #E8E8E8;height: 40px;line-height: 40px;font-size: 22px;margin-top: 16px;}
.kwSide h2 strong {color: #74cfc5;border-bottom: 3px solid #74cfc5;float: left;padding: 0 3px;}
.kwSide .list {clear: both; padding-top: 10px;}
.kwSide .list li {padding: 3px 0 3px 1em;line-height: 20px;background: url(../Images/dot.png) no-repeat 0 12px;}